[Desktop Entry]
Version=1.0.0
Name=Cyberoam
Comment=Cyberoam Login Shell
Exec=/opt/Cyberoam-Client-master/cyber.py
Icon=/opt/Cyberoam-Client-master/cyberoam.png
Path=/opt/cyber
Terminal=false
Type=Application
Catagories=Developer;Application;Utility
