[Desktop Entry]
Version=1.0.0
Name=Cyberoam
Comment=Cyberoam Login Shell
Exec=/opt/cyber/cyber.py
Icon=/opt/cyber/cyberoam.png
Path=/opt/cyber
Terminal=false
Type=Application
Catagories=Developer;Application;Utility
